<html>
  <head>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='script/script.js') }}">
     </script>

  </head>
  <body>

    

    <form action="/prediction" method='post'>
      <h2>Spam Non-Spam Classifier</h2><br/>
      <div> 
      <label for="Input Text">Input Text: </label>
      <input type="text" id="Input Text" name="Input Text" value="Enter here...">
    </div>
    <button type="submit">Check </button>
    </form> 

  </body>
</html>